#header{
    padding-top: 15px;
    .headers{
        display: block;
        height: 60px;
        .index{
            display: block;
            float: left;
        }
        .text-muted{
            display: block;
            height: 100%;
            float: right;
            font-size: 12px;
            line-height: 60px;
            font-family: '微软雅黑';
            margin: 0 50px 0 0;
        }
        p{
            // overflow: hidden;
            display: block;
            float: right;
            height: 100%;
            margin: 0;
            margin-right: 50px;
        }
        span{
            display: block;
            float: left;
            width: 1px;
            height: 15px;
            margin-top: 24px;
            background-color:rgb(116, 116, 116) ;
        }
        a{
            float: left;
            font-size: 12px;
            height: 100%;
            text-decoration: none;
            color: rgb(116, 116, 116);
            line-height: 60px;
            font-family: '微软雅黑';
            padding: 0 4px;
        }
        .help{
            display: block;
            float: right;
            height: 100%;
            color: #000;
            text-align: center;
            line-height: 60px;
            font-size: 14px;
        }
    }
    
}

#main{
    .bor{
        border-top: 1px solid #000;
        .now{
            margin-top: 30px;
            height: 29px;
            font-size: 14px;
            line-height: 29px;
            background: url(../images/now.gif) no-repeat 1px 1px;
            span{
                display: block;
                float: left;
                color: #000;
                text-align: center;
                margin:0 45px;
            }
            span:first-of-type{
                color: #fff;
            }
        }
        .shopping{
            min-height: 200px;
            span{
                display: block;
                text-align: center;
                margin-top: 100px;
                .go{
                display: block;
                color: rgb(184, 0, 0);
                padding: 0 10px;
                // border: 1px solid #ccc;
                }
                .go:hover{
                text-decoration: none;
                }
            }
            p:first-of-type{
                font-size: 30px;
                background: url('../images/');
            }
            p{
                height: 40px;
                text-align: left;
                margin: 0;
                // text-indent: 50px;
                span{
                    margin-top: 0;
                    text-align: left;
                }
            }
            .table{
                width: 100%;
                border: 1px solid #ccc;
                border-radius: 10px;
                .first{
                    font-size: 15px;
                    height: 40px;
                    background: rgb(220, 220, 220);
                    span{
                        float: left;
                        display: block;
                        width: 8%;
                        height: 100%;
                        line-height: 40px;
                        text-align: center;
                    }
                    .two{
                        width: 44%;
                    }
                }
                .shopp{
                    padding: 15px;
                    .list{
                        overflow: hidden;
                        background-color: rgb(248, 248, 248);
                        span{
                            margin: 0;
                            width: 10%;
                        }
                        .box2{
                            float: left;
                            width: 6%;
                            margin-top: 23px;
                        }
                        .img{
                            float: left;
                            width: 60px;
                            height: 60px;
                            margin: 0 10px;
                        }
                        .name{
                            float: left;
                            font-size: 14px;
                            width: 20%;
                            margin-left: 60px;
                            line-height: 60px;
                        }
                        .size{
                            float: left;
                            font-size: 16px;
                            width: 6%;
                            margin-left: 156px;
                            line-height: 60px;
                        }
                        .money{
                            float: left;
                            font-size: 20px;
                            width: 6%;
                            margin-left: 15px;
                            line-height: 60px;
                        }
                        .num{
                            float: left;
                            margin-left: 50px;
                            width:5%;
                            margin-top: 20px;
                        }
                        .sp{
                            float: left;
                            width: 5%;
                            margin-left: 10px;
                            line-height: 60px;
                        }
                        .moneys{
                            float: left;
                            font-size: 20px;
                            width: 10%;
                            margin-left: 10px;
                            line-height: 60px;
                        }
                        .btn{
                            float: left;
                            margin-left: 30px;
                            line-height: 25px;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        .settle_accounts{
            overflow: hidden;
            padding: 30px 10px 20px;
            border: 1px solid rgb(235, 229, 187);
            background-color:rgb(255, 254, 245) ;
            .tp{
                width: 100%;
                p{
                    &>label{
                        font-size: 16px;
                        font-weight: 400;
                    }
                    &>.rem{
                        border: 0;
                        background: rgb(255, 254, 245);
                        font-size: 14px;
                    }
                    &>span{
                        display: inline-block;
                        font-size: 16px;
                        margin-left: 20px;
                        margin-right: 20px;
                    }
                    &>.zk{
                        font-size: 14px;
                        font-weight: 700;
                        color: rgb(184, 0, 0);
                    }
                }
            }
            .bp{
                width: 100%;
                &>span{
                    display: inline-block;
                    margin-top: 30px;
                }
                .monyes{
                    margin-top: 0;
                    font-size: 30px;
                    color: rgb(184, 0, 0);
                }
                a{
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    color: rgb(124, 124, 124);
                    font-size: 16px;
                    padding: 10px;
                    float: right;
                    margin-left: 20px;
                    margin-top: 3px;
                    background-color:rgb(221, 221, 221) ;
                }
                a:first-of-type{
                    color: #fff;
                    font-size: 20px;
                    margin-top: 0;
                    background-color: rgb(173, 4, 4);
                }
                a:hover{
                    text-decoration: none;
                }
            }
        }
    }
}

#footer{
    font-size: 14px;
    color: #000;
    text-align: center;
    a{
        display: inline-block;
        height: 45px;
        width: 114px;
        margin: 0 5px;
        background-image: url(../images/login_spritesbg.png);
        background-repeat: no-repeat;
    }
    .f1{
        background-position: 0 -401px;
    }
    .f2{
        width: 157px;
        background-position:0 -448px;
    }
    .f3{
        width: 98px;
        background-position: 0 -493px;
    }
    .f4{
        background-position: -100px -493px;
    }
}